
img {
  filter: grayscale(100%)
  }

  img:hover {
  animation-name: img_hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes img_hover {
  100% {filter: grayscale(0%)}
}

.bold {
  font-weight: bold;
}



#landing {
  position: relative;
  min-height: 100vh;
  top: 150px;

  .buttons {
  position: relative;
  margin: 50px auto;
  font-size: 30px;
  }
  a {
    color: black;
  }
}


#about_me {
  position: relative;
  min-height: 100vh;
  
  .about_me_container {
    position: relative;
   margin-top: 150px; 
  }
  .about_me_img_container {
    position: relative;
  }
  .about_me_button_group_left {
    margin-left: auto;
    margin-right: auto;
  }
  
  .about_me_button_group_right {
    margin-left: auto;
    margin-right: auto;
  }
  
  .about_me_webDev_algo {
  font-family: initial;
  margin: 0!important;
  }

  button {
  position: relative;
  background-color: transparent;
  border-radius: 0!important;
  font-size: 20px;
  }

  

  img:hover {
    animation-duration: .5s!important;
  }
}






#toolbox {
  min-height: 100vh;
  margin-top: 150px;
  margin-bottom: 150px;

  .toolbox-container {
    position: relative;
  }

  .progress {
    border-radius: 0;
  }

  .toolbox_progress_bar{
    border-radius: 0;
    background-color: black;
  }

  // .toolbox_progress_bar {
  //   width: 14%;
  // } 

.tool {
  height: 70px;
  margin: 30px 0 20px 0;
}

  .toolbox_progress_bar_title {
    img {
    position: relative;
    max-height: 75px;
    bottom: 10px;
  right: 10px;
    // margin: 40px 0 20px 0;
    }
  }










  .router_logo {
    position: relative;
    height: 50px!important;
    width: 75px;
  }

  .npm_logo {
    position: relative;
    height: 50px!important;
    width: 75px;
  }





   
}





















#projects {
  position: relative;
  min-height: 100vh;

  .well {
  margin-top: 30px;
  border-radius: 0;
  }
  .panel-group {
    .panel {
      border-radius: 0;
    }
    .panel-heading {
      background-color: #ccc;
      border-radius: 0;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}





#contact_me {
  min-height: 100vh;
  div {
  position: relative;
  margin: auto auto;
  top: 30vh;
  }
}

body { 
    .modal-chop, .modal-pomo {
    max-width: 1100px;
    margin: 0 auto;
    }
    .modal-simon {
    max-width: 820px;
    margin: 0 auto;
  }
}

.modal-chop {
  .well {
  max-width: 800px;
  }
}

.modal-pomo {
  #controls{
  max-width: 800px;
  }
}