
img {
  filter: grayscale(100%)
  }

  img:hover {
  animation-name: img_hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes img_hover {
  100% {filter: grayscale(0%)}
}

.bold {
  font-weight: bold;
}



#landing {
  position: relative;
  min-height: 100vh;
  top: 150px;

  .buttons {
  position: relative;
  margin: 50px auto;
  font-size: 30px;
  }
  a {
    color: black;
  }
}


#about_me {
  position: relative;
  min-height: 100vh;
  
  .col-xs-12 {
    top: 150px;
  }
  
  .about_me_webDev_algo {
  font-family: initial;
  margin: 0!important;
  }

  button {
  position: relative;
  background-color: transparent;
  border-radius: 0!important;
  font-size: 20px;
  }

  img:hover {
    animation-duration: .5s!important;
  }
}






#toolbox {
  min-height: 100vh;

  .toolbox-container {
    position: relative;
    top: 150px;
  }

  h2 {
  margin: 40px auto;
  font-size: 60px;
}

  .toolbox_progress_bar_title {
    img {
    position: relative;
    top: 5px;
    height: 75px;
    }
  }

  .router_logo {
    position: relative;
    top: 20px!important;
    height: 50px!important;
    width: 75px;
  }

  .npm_logo {
    position: relative;
    top: 20px!important;
    height: 50px!important;
    width: 75px;
  }

  .toolbox_progress_bar {
    height: 20px;
    /*border: 1px solid black;*/
    margin: 30px 20px;
    /*background-color: background-image: -webkit-gradient(linear, left, right, from(black 55%),white 10%));*/
    background-image: -webkit-linear-gradient(left, black 55%, white 10%);
    background-image: -moz-linear-gradient(left, black 55%, white 10%);
    background-image: linear-gradient(to right, black 55%, white 10%);
    box-shadow: inset 1px 1px 10px #ccc;
  }

  .toolbox_progress_bar_position {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 80%;
    bottom: 10px;
    color: white;
     p {
      position: relative;
      text-align: center;
      top: 10px;
      font-size: 14px;  
      } 
  }


   
  
}





















#projects {
  position: relative;
  min-height: 100vh;

  .well {
  margin-top: 30px;
  border-radius: 0;
  }
  .panel-group {
    .panel {
      border-radius: 0;
    }
    .panel-heading {
      background-color: #ccc;
      border-radius: 0;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}





#contact_me {
  min-height: 100vh;
  div {
  position: relative;
  margin: auto auto;
  top: 30vh;
  }
}

body { 
    .modal-chop, .modal-pomo {
    max-width: 1100px;
    margin: 0 auto;
    }
    .modal-simon {
    max-width: 820px;
    margin: 0 auto;
  }
}

.modal-chop {
  .well {
  max-width: 800px;
  }
}

.modal-pomo {
  #controls{
  max-width: 800px;
  }
}