header {
  height: 100vh;
}

img {
  filter: grayscale(100%)
  }

.buttons {
  width: 500px;
  height: 100px;
  position: relative;
  margin: 50px auto;
  font-size: 50px;
}

.buttons:hover {
  animation-name: button_background;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes button_background {
  100% {background-color: black}
}

.toolbox {
}

.toolbox h2 {
  margin: 40px auto;
  font-size: 60px;
}

.toolbox_progress_bar_title {
  /*display: flex;*/
}

.toolbox_progress_bar_title img {
  position: relative;
  top: 5px;
  height: 75px;
}

.router_logo {
  position: relative;
  top: 20px!important;
  height: 50px!important;
  width: 75px;
}

.npm_logo {
  position: relative;
  top: 20px!important;
  height: 50px!important;
  width: 75px;
}

.toolbox_progress_bar {
  height: 20px;
  /*border: 1px solid black;*/
  margin: 30px 20px;
  /*background-color: background-image: -webkit-gradient(linear, left, right, from(black 55%),white 10%));*/
  background-image: -webkit-linear-gradient(left, black 55%, white 10%);
  background-image: -moz-linear-gradient(left, black 55%, white 10%);
  background-image: linear-gradient(to right, black 55%, white 10%);
  box-shadow: inset 1px 1px 10px #ccc;
}

.toolbox_progress_bar_position {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: 50%;
  bottom: 10px;
  color: white;
}

.toolbox_progress_bar_position p {
  position: relative;
  text-align: center;
  top: 10px;
  font-size: 14px;  
}

.projects {
  position: relative;
  top: 50px;
}

#projects .well {
  margin-top: 30px;
}

.project img {
  /*height: 300px;*/
  filter: grayscale(100%)
}

.project img:hover {
  animation-name: img_hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes img_hover {
  100% {filter: grayscale(0%)}
}

.bold {
  font-weight: bold;
}

#about_me {
  height: 120vh;
  position: relative;
}

.about_me_webDev_algo {
  font-family: initial;
 margin: 0!important;
}


#about_me .btn {
  position: relative;
  margin: 10px 0;
  background-color: transparent;
  border-radius: 0!important;
  font-size: 25px;
  padding: 5;

}

#about_me img:hover {
  animation-name: img_hover;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.chop_tribute {
  position: relative;
  width: 100px;
}

body .modal-chop, .modal-pomo {
    /* new custom width */
    max-width: 1100px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: 0 auto;
}

.modal-chop .well {
  max-width: 800px;
}

.modal-pomo #controls{
  max-width: 800px;
}